input  {
    width: 100%;
    border:none;
    border-bottom: #7f7f7f 0.5pt solid;
    margin:0;
    padding-left:0.2rem;
}

.selected td,
.selected input,
.selected {
    background-color: #DFEFFF;
}

tr,
td {
 margin:0;
 padding:0 2px;
}

mwc-icon {
    font-size: 11pt;
    cursor: pointer;
    transition: box-shadow .1s;
}
mwc-icon:hover {
    box-shadow: 0 0 5px rgba(33,33,33,.8);
}
mwc-icon:active:hover {
    box-shadow: 0 0 0 transparent;
}

mwc-icon.disabled {
    font-size: 11pt;
    cursor:auto;
    transition: box-shadow .1s;
    color: #7f7f7f;
}

mwc-icon:hover.disabled {
    box-shadow: 0 0 0 transparent;
}
mwc-icon:active:hover.disabled {
    box-shadow: 0 0 0 transparent;
}