input  {
    width: 100%;
    border:none;
    border-bottom: #7f7f7f 0.5pt solid;
    margin:0;
    padding-left:0.2rem;
}

.selected td,
.selected input,
.selected {
    background-color: #DFEFFF;
}

tr,
td {
 margin:0;
 padding:0 2px;
}