.container {
    margin-top: 9pt;
    border: #7f7f7f 1pt solid;
    padding:0;
}

span {
    display: block;
    text-align: center;
}

.center-title {

    font-weight: bold;
}

.container div {
    border-top: #7f7f7f 1pt solid;
    display: inline-block;
    margin: 0;
    width: 49.3%;
    border-collapse: collapse;
}



div.current {
    border-right: #7f7f7f 1pt solid;
}

input {
    width:100%;
    font-size: 1.5rem;
    border:none;
    text-align: center;

}